<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<title>Cobrança</title>
	
	<!--CSS BOOTSTRAP-->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

	<head layout:insert="Cabecalho"></head>

	<section layout:fragment="conteudo">
		<p>Conteúdo principal</p>
	</section>

	<!-- JS / JQUERY / BOOTSTRAP  -->
	<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>